.about {
  margin-bottom: 10px;
}

.about__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.about__column {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.about__column input[type="checkbox"]:focus+label::after,
.about__column input[type="radio"]:focus+label::after {
  outline: 1px solid #4d90fe;
}

.about__field {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 25px;

  &--border {
    padding: 15px 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}

.about__field input:disabled+label {
  opacity: 0.3;
  outline: none;
}

.about__field input[type="checkbox"]:checked+label::before,
.about__field input[type="radio"]:checked+label::before {
  display: block;
}

.about__textarea {
  width: 100%;
  padding: 14px 13px;
  height: 151px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #e6e6e6;

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    outline: 2px solid #444444;
  }
}

.about__text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .about {
    margin-bottom: 77px;
  }

  .about__field {
    margin-bottom: 71px;

    &--border {
      margin-left: 0;
      margin-right: 0;
      padding: 25px;
      border: 1px solid #e6e6e6;
    }

    &--small {
      margin-bottom: 20px;
    }

    &--top {
      margin-bottom: 60px;
    }
  }


  .about__row {
    margin: 0 -30px;
  }

  .about__column {
    padding: 0 30px;

    &--add-4 {
      max-width: 50%;
      flex: 0 0 50%;
      padding: 0 30px;
    }

    &--add-2 {
      max-width: 50%;
      flex: 0 0 50%;
      padding: 0 30px;
    }
  }

  .about__textarea {
    height: 173px;
    padding: 8px 17px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #e6e6e6;

    &::placeholder {
      color: #444444;
    }

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:active,
    &:focus {
      outline: 2px solid #444444;
    }
  }

  .about__text {
    margin: 13px 0;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }

  .about__button {
    padding: 15px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    margin-bottom: 82px;
  }

  .about__row {
    margin: 0 -40px;
  }

  .about__column {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 40px;

    &--add-4 {
      max-width: 25%;
      flex: 0 0 25%;
      padding: 0 40px;
    }
  }

  .about__field {
    margin-bottom: 64px;

    &--small {
      margin-bottom: 30px;
    }

    &--top {
      margin-bottom: 60px;
      margin-top: -15px;
    }
  }
}
