.catalog-more {
  position: relative;
  margin-top: 80px;
  text-align: center;
  padding-bottom: 22px;
  height: 100%;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: #ffffff url("../img/icon-plus.svg") no-repeat center;
  }
}

.catalog-more__title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: -4px;
}

.catalog-more__description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .catalog-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    padding: 40px 35px 40px;
    border: 1px solid #f2f2f2;

    &::after {
      top: 52px;
      width: 60px;
      height: 60px;
    }
  }

  .catalog-more__title {
    margin: 0 auto 25px;
    max-width: 140px;
    width: 100%;
    font-size: 20px;
  }

  .catalog-more__description {
    font-size: 16px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto 88px;
    line-height: 20px;
    letter-spacing: 1.5px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-more__title {
    margin: 0 auto 25px;
  }

  .catalog-more__description {
    margin: 0 auto 82px;
  }
}
