.form-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-field__name {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  flex-shrink: 0;
  margin-right: 15px;
  text-transform: uppercase;
  color: #222222;

  &--cont {
    margin-right: 10px;
  }
}

.form-field__answer {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 13px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  line-height: 18px;

  &--icon {
    padding: 13px 45px 13px 15px;
    background-size: 18px 20px;
  }

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    outline: 2px solid #444444;
  }

  &:focus:invalid {
    outline: 2px solid #ff8282;
  }

  &:active ~ svg,
  &:focus ~ svg {
    fill: #68b738;
  }

  &:focus:invalid ~ svg {
    fill: #ff8282;
  }
}

.form-field.form-field--info {
  margin-bottom: 14px;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

@media (min-width: @tablet-width) {
  .form-field {
    margin-bottom: 20px;

    &--middle {
      margin-bottom: 60px;
    }

    &--small {
      margin-bottom: 20px;
    }
  }

  .form-field__name {
    font-size: 20px;

    &--cont {
      margin-right: 17px;
    }
  }

  .form-field__answer {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
  }

  .form-field.form-field--info {
    margin-bottom: 22px;
  }
}

@media (min-width: @desktop-width) {
  .form-field__icon {
    right: 20px;
  }
}
