.main-block {
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px;
  position: relative;
}

.main-block__about {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 23px;
  margin-top: 0;
  color: #ffffff;
}

.main-block__info {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 25px;
  color: #ffffff;
}

.main-block__product {
  display: block;
  margin: 0 auto 5px;
}
