.page-footer__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -20px;
  flex-grow: 1;
}

.page-footer__social {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-footer__logo {
  padding: 35px 0 30px;
  display: block;
  margin: 0 auto;
  max-width: 135px;
}
