.page-main {
  overflow: hidden;
  display: block;
}

.page-main__container {
  width: 100%;
  /* max-width: 320px; */
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-main__container--border {
  border: 1px solid #d9d9d9;
  margin-bottom: 28px;
}

.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 28px;
}
